<div id="root"></div>
<div class="my-3 text-sm">
    Hi there! This is a fan-made tournament brackets application.<br/>
    If you have any questions or just like it and want to let me know, here's my Blue Sky<br/>
    <a href="https://bsky.app/profile/corywmcdonald.com" class="text-blue-500 underline">@corywmcdonald.com</a>
</div>