<div id="root"></div>
<div class="mt-3">
    Hi there! I made this app to help you create and manage your own tournament brackets.<br/>
    If you have any questions or just like it and want let me know, here's my Blue Sky<br/>
    <a href="https://bsky.app/profile/corywmcdonald.com" class="text-blue=500 underline">@corywmcdonald.com</a>
</div>