/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import "tailwindcss";

:root {
  --border: 1px solid #761e99;
}

body {
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  background: url('/background.png'), linear-gradient(to bottom, #621383, #2f023b);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.syncopate {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-optical-sizing: auto;
}


/* Title */
.tournament-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.bracket {
  display: flex;
  margin-bottom: 100px;
  overflow: visible;
  width: 100%;
  justify-content: space-around;
}

section {
  max-width: 300px;
  min-width: 200px;
  padding: 0 20px 0 10px;
  width: 17%;
}



ol {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  position: relative;
  width: 100%;
}

a,
span {
  display: block;
}

/* Left Side Bracket */
section.left-bracket:not(:nth-child(4), :last-child) {

  & li:after,
  li:before {
    content: "";
    display: block;
    position: absolute;
  }

  & li:after {
    right: -16px;
    width: 15px;
  }

  & li:nth-child(even):after {
    border-bottom: var(--border);
    border-bottom-right-radius: 0.3em;
    border-right: var(--border);
    bottom: 45%;
    height: 80%;
  }

  & li:nth-child(odd):after {
    border-right: var(--border);
    border-top: var(--border);
    border-top-right-radius: 0.3em;
    height: 80%;
    top: 45%;
  }

  & li:nth-child(odd):before {
    border-top: var(--border);
    bottom: -32%;
    right: -27px;
    width: 12px;
  }
}

section.left-bracket:nth-child(4) li:before {
  border-top: var(--border);
  bottom: 45%;
  content: "";
  display: block;
  position: absolute;
  right: -12px;
  width: 12px;
}

/* Right Side Bracket */
section.right-bracket:not(:nth-child(4), :last-child) {

  & li:after,
  li:before {
    content: "";
    display: block;
    position: absolute;
  }

  & li:after {
    left: -16px;
    width: 15px;
  }

  & li:nth-child(even):after {
    border-bottom: var(--border);
    border-bottom-left-radius: 0.3em;
    border-left: var(--border);
    bottom: 45%;
    height: 80%;
  }

  & li:nth-child(odd):after {
    border-left: var(--border);
    border-top: var(--border);
    border-top-left-radius: 0.3em;
    height: 80%;
    top: 45%;
  }

  & li:nth-child(odd):before {
    border-top: var(--border);
    bottom: -32%;
    left: -27px;
    width: 12px;
  }
}

section.right-bracket:nth-child(4) li:before {
  border-top: var(--border);
  bottom: 45%;
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  width: 12px;
}



/* Left and Right Sides */
.bracket-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}


/* Right Side Mirrored */
.right {
  align-items: flex-start;
}

/* Rounds */
.round {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.rank {
  background-color: #6b0688;
}

/* Matchup Box */
.matchup {
  background-color: #2f1132;
  /* Dark purple background */
}

/* Finals Center */
.finals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-card {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  margin: 2px;
  background: #621383;
  min-height: 45px;
  max-height: 45px;
  min-width: 45px;
}

.player-card-winner {
  min-height: 45px;
  max-height: 45px;
  min-width: 45px;
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  min-height: 55px;
  margin: 2px;
  background: #621383;
}


.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  height: 100%;
}